.quote{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin: 10px;
}
.centerquote:hover {
  transform: scale(1.05)
}
.centerquote{
  
  margin-top: 40px;
  padding: 10px;
  padding-top: 0;
  border: 1px solid black;
  box-shadow: -1px 1px 16px -1px rgba(0, 0, 0, 0.75);
  margin: 10px;
  overflow: hidden;
  transition: transform 1s;
  margin: 20px;
  background-color:rgba(255, 255, 255, 0.836);

}
body{
  background-image: url(../images/backgnimage.jpg);
  background-position: center;
  background-size: cover;
}
.card{
  margin-top: 100px;
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  
  font-size: 30px ;
}
.apiquote{
  color:rgba(0, 0, 0, 0.959);
  font-weight: 800;
  
  font-size: 30px ;
}

.btn{
margin: 20px;
font-family: 'Amatic SC', cursive ;
font-size: 50px;
font-weight: 800;
}

.indextitle{
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  margin-bottom: 30px;
}