{%extends 'base.html'%}

{%block styles%}
  {{super()}}
  <!--Imports the simple mde css and js files-->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/blog.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Galada&family=Inconsolata:wght@300&family=Pacifico&display=swap" rel="stylesheet">
{%endblock%}

{%block content%}
  <div class="container">
    {%for blog in blogs%}
    <div>
      <h2>{{blog.title}}</h2>
      <p>{{blog.category}}</p>
      <p>{{blog.blog_body| truncate(100)}}...</p>
      <a href="{{url_for('main.single_blog',blogid = blog.id)}}">Read more</a>
    </div>
    {%endfor%}
  </div>
{%endblock%}